@media (hover: hover) {
    .next-round button:hover, .next-round-tie button:hover {
        background-color: #64ee68;
        transition: 0.1s;
        cursor: pointer;
    }

    .main-menu button:hover, .main-menu-tie button:hover {
        background-color: #f76868;
        cursor: pointer;
        transition: 0.1s;
    }

    .cell:hover {
        background-color: #dbdbdb;
        transition: 0.1s;
    }

    .submit-button button:hover {
        background-color: #61c464;
        cursor: pointer;
        transition: 0.1s;
    } 

    


}

@media only screen and (max-width: 1300px) {
    .scam-area1 p, .scam-area2 p {
        font-size: 1.5rem;
    }
} 

@media only screen and (max-width: 1200px) and (max-height: 1200px) {
    .playground {
        width: 400px;
        height: 400px;

    }
}

@media only screen and (max-width: 1220px) {
    .cell {
        font-size: 7rem;
    }
}

@media only screen and (max-width: 1070px) {
    .score-area1 h2, .score-area2 h2 {
        font-size: 2rem;
        line-height: 40px;
    }

    .score-area1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }   

    .score-area2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gameboard {
        grid-template-columns: 2fr 5fr 2fr;
    }

    .score-area1 h2 {
        margin: 0;
    }

    .score-area2 h2 {
        margin: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .scam-area1 p, .scam-area2 p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 870px) {
    .scam-area1 p, .scam-area2 p {
        display: none;
    }

    .playground {
       height: 400px;
       width: 400px;
    }
}

@media only screen and (max-width: 730px) {
    .gameboard {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 50px;
    }   

    body {
        line-height: 1;
        background-color: var(--web-cream);
    } 

    .cell {
        font-size: 5.3rem;
    }

    .score-area1 h2 {
        margin-left: 0px;
        font-size: 1.3rem;
        line-height: normal;
        margin-top: 10px;
    }

    .score-area2 h2 {
        margin-right: 0px;
        line-height: normal;
        font-size: 1.3rem;
        transform: translateY(-10%);
    }

    .wrapper {
        grid-template-rows: minmax(50px, 0.8fr) minmax(50px, 1fr) 7fr minmax(50px, 1fr);
    }

    .logo h1 {
        font-size: 2rem;
    }

    .wins1, .wins2 {
        width: 80px;
        height: 80px;
    }

    .wins1 p, .wins2 p {
        font-size: 0.9rem;
    }

    .home i, .rules i {
        font-size: 1.1rem;
    }

    .profile1 p, .profile2 p {
        font-size: 1rem;
    }    

    .playground {
        height: 300px;
        width: 300px;
    }
}

@media only screen and (max-width: 700px) {
    .announcement h2, .announcement-tie h2 {
        font-size: 10rem;
    }

    .option-buttons, .option-buttons-tie {
        margin-bottom: 70px;
        height: 120px;
    }
}

@media only screen and (max-width: 420px) {
    .announcement h2, .announcement-tie h2 {
        font-size: 7rem;
    }

    .winning-banner button, .tie-banner button {
        font-size: 1.5rem;
    }

    .cell {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 330px) {
    .wins1, .wins2 {
        width: 50px;
        height: 50px; 
    }

    .wins1 {
        border: 3px solid var(--web-blue);
    }

    .wins2 {
        border: 3px solid var(--web-red);
    }

    .wins1 p, .wins2 p {
        font-size: 0.65rem;
    }

    .logo h1 {
        font-size: 1.3rem;
    }

    .score-area1 h2 {
        font-size: 0.9rem;
        margin-top: 10px;
    }

    .score-area2 h2 {
        font-size: 0.9rem;
    }

    .profile1 p, .profile2 p {
        font-size: 0.8rem;
    }

    .profile1 i, .profile2 i {
        font-size: 0.9rem;
    }

    .player1-banner {
        padding: 0 15px;
    }

    .player2-banner {
        padding: 0 10px;
    }

    .top-banner {
        padding: 0 15px;
    }

    .playground {
        height: 230px;
        width: 230px;
    }
}

@media only screen and (max-width: 290px) {
    .announcement h2, .announcement-tie h2 {
        font-size: 4.5rem;
    }
}