html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    height: -webkit-fill-available;
}

body {
	line-height: 1;
    background-color: var(--web-cream);
    height: 100vh;
    height: -webkit-fill-available;
}   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: manipulation;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* REUSABLE */
/* REUSABLE */
/* REUSABLE */


:root {
    --web-red: #ED254EFF;
    --web-yellow: #F9DC5CFF;
    --web-cream: #F4FFFDFF;
    --web-blue: #011936FF;
    --web-grey: #9498A0;
}


/* WRAPPER */
/* WRAPPER */
/* WRAPPER */


.wrapper {
   display: grid;
   grid-template-rows: minmax(70px, 1fr) minmax(70px, 1fr) 7fr minmax(70px, 1fr);
   height: 100%;
   width: 100%;
}


/* TOP-BANNER */
/* TOP-BANNER */
/* TOP-BANNER */

.winning-banner {
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: -200%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 5fr 1fr;
    transition: 1s;
}

.winning-banner.active {
    top: 0%;
    transition: 1s;
    height: 100vh;
    height: -webkit-fill-available;
}

.announcement {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.announcement h2 {
    font-size: 15rem;
    font-family: 'Bebas Neue', cursive;
    color: rgb(128, 129, 131);
}

.option-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.winning-banner button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
    color: black;
}

.winning-banner button a {
    text-decoration: none;
    color: black;
}

.next-round button {
    border-right: 2px solid black;
    background-color: #91FF95;
}

.main-menu button {
    background-color: #fa8989;
}


.top-banner {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: white;
}

.home i {
    font-size: 1.5rem;
}

.rules i {
    font-size: 1.5rem;
}

a i {
    text-decoration: none;
    color: black;
}

.logo h1 {
    font-size: 3rem;
    font-family: 'Quicksand', sans-serif;
}

/* PLAYER1-BANNER */
/* PLAYER1-BANNER */
/* PLAYER1-BANNER */


.player1-banner {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: var(--web-blue);
}

.profile1 p, .profile2 p {
    font-family: 'Work Sans', sans-serif;
}

.wins1 p, .wins2 p {
   margin-top: 6px; 
   font-family: 'Work Sans', sans-serif;
}

.profile1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile1 p {
    color: white;
    font-size: 1.5rem;
    transform: translateY(10%);
}

.profile1 i {
    color: white;
    margin-right: 10px;
    font-size: 1.5rem;
}

.wins1 {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: flex-end;
    transform: translateY(50%);
    border: 5px solid var(--web-blue);
    border-radius: 50%;
    background-color: white;
}

.wins1 p {
    color: black;
    font-size: 1.2rem;
}


/* GAMEBOARD */
/* GAMEBOARD */
/* GAMEBOARD */


.gameboard {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
}

.game-stat1, .game-stat2 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.score-area1 {
    display: flex;
    justify-content: center;
    align-items: center;
}   

.score-area2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scam-area1 {
    display: flex;
    justify-content: center;
}

.scam-area1 p {
    margin-top: 30px;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
}

.scam-area2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.scam-area2 p {
    margin-bottom: 30px;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
}

.o {
    color: var(--web-red);
}

.x {
    color: var(--web-blue);
}

.game-stat1 p {
    justify-items: start;
}

.game-stat1 h2, .game-stat2 h2 {
    color: black;
    font-size: 3rem;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    line-height: 70px;
}

.game-field {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.playground {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.cell {
    border: 1px solid var(--web-grey);
    font-family: 'Quicksand', sans-serif;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    border-top: none;
} 

.bottom {
    border-bottom: none;
}

.right {
    border-right: none;
}

.left {
    border-left: none;
}

.score-area1 h2 {
    margin-left: 40px;
}

.score-area2 h2 {
    margin-right: 40px;
}


/* PLAYER2-BANNER */
/* PLAYER2-BANNER */
/* PLAYER2-BANNER */


.player2-banner {
    background-color: var(--web-red);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.profile2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile2 p {
    color: white;
    font-size: 1.5rem;
    transform: translateY(10%);
}

.profile2 i {
    color: white;
    margin-right: 10px;
    font-size: 1.5rem;
}

.wins2 {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: flex-start;
    transform: translateY(-50%);
    border: 5px solid var(--web-red);
    border-radius: 50%;
    background-color: white;
}

.wins2 p {
    color: black;
    font-size: 1.2rem;
}


/* NAME FORM */
/* NAME FORM */
/* NAME FORM */


.name-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: rgb(196, 196, 196);
    height: 350px;
    width: 250px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    transition: 1s;
}

.name-form.appear {
    transform: translate(-50%, -50%) scale(1);
    transition: 1s;
}

.heading-area {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
}

.heading-area h2 {
    font-size: 1.3rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.form-area form {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px 0px;
}

.player1-name {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 0 20px;
}

.player2-name {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    gap: 5px;
}

.player1-name input, .player2-name input {
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    padding: 3px 8px;
    font-size: 1rem;
    border-radius: 10px;
}

form label {
    font-family: 'Work Sans', sans-serif;
}

.submit-button {
    margin-top: auto;
}

.submit-button button {
    width: 150px;
    height: 40px;
    border-radius: 7px;
    border: none;
    font-family: 'Work Sans', sans-serif;
    background-color: #91FF95;
    margin-bottom: 10px;
    color: black;
}

.submit-button button:hover {
    background-color: #61c464;
    cursor: pointer;
} 

